@import "style-responsive.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease 0s;
}

body {
    background-color: #111119;
    font-family: 'Source Sans Pro', sans-serif;
}

.hexas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 60px 700px;
}

.hexa {
    display: flex;
    width: 140px;
    cursor: pointer;
    height: 140px;
    align-items: center;
    justify-content: center;
    margin-top: -75px;
    margin-left: -63px;
}

.hexa>iconify-icon {
    position: absolute;
}

.hexa-plain {
    color: #1e2530;
}

.hexa-empty {
    color: var(--primary-color);
}

.hexa-empty-hover {
    transform: scale(1.1);
}

.menu-logo {
    z-index: 99;
}

.responsive-menu {
    display: none;
}